{{#if error_message_c}}
<div class="alert alert-warning alert-dismissible fade show fs-5 text" role="alert">
  {{error_message_c}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}