<div class="col-sm-3 col-md-4 mt-5 mx-auto">


  {{#ifCond order.dataValues.payment_status '===' '0'}}
  <p class="fs-3 text"> You have not paid yet, <a href="/order/{{order.dataValues.id}}/payment">back to payment.</a></p>

  <a href="/orders">
    <p class="fs-3 text"> Go to check your order status.</p>
  </a>

  <p class="fs-3 text">Note: the order will be cancelled if the payment is not finished within 24 hours, please arrange
    your payment by
    <span class="text-danger">{{time order.dataValues.updatedAt }}.</span>
  </p>

  {{/ifCond}}

  {{#ifCond order.dataValues.payment_status '===' '1'}}

  <p class="fs-3 text">Thank you. Your payment is successfully done.</p>
  <a href="/orders">
    <p class="fs-3 text">Go to check your order.</p>
  </a>
  <a href="/">
    <p class="fs-3 text">Go forward shopping area.</p>
  </a>

  {{/ifCond}}
</div>