<h1>Reset password</h1>


<form action='/passwordSetting/{{user.id}}' method='POST'>
  <input type="text" name="oldPassword" class="form-control" placeholder="input your origin password" required
    autofocus>
  <input type="text" name="newPassword" class="form-control" placeholder="input your new password" required autofocus>
  <input type="text" name="newPasswordConfirm" class="form-control"
    placeholder="input your new password again for a check" required autofocus>

  <button type="submit" class="btn btn-primary">Save change</button>

</form>
<form action='/passwordSetting/{{user.id}}'>
  <button type="submit" class="btn btn-primary">Cancel</button>
</form>