<div class="mt-5 mx-auto " style="max-width: 30%;">
  <h1 class="text-center">Register</h1>
  <p class="text-black-50">＊：required</p>
  <div class="mb-3">
    <form action='/register' method='POST'>
      <div class="mb-3 border-bottom border-secondary bg-light">
        <label for="inputName">Name <span class="text-black-50">*</span></label>
        <input type="text" name="name" class="form-control form-control-lg border-0 bg-light" placeholder="" required
          autofocus>
      </div>

      <div class="mb-3 border-bottom border-secondary bg-light">
        <label for="inputEmail">Email <span class="text-black-50">*</span></label>
        <input type="text" name="email" class="form-control form-control-lg border-0 bg-light" placeholder="" required
          autofocus>
      </div>

      <div class="mb-3 border-bottom border-secondary bg-light">
        <label for="inputPhone">Phone</label>
        <input type="text" name="phone" class="form-control form-control-lg border-0 bg-light" placeholder="">
      </div>

      <div class="mb-5">
        <div class="border-bottom border-secondary bg-light">
          <label for="inputPassword">Password <span class="text-black-50">*</span></label>
          <input type="password" name="password" class="form-control form-control-lg border-0 bg-light" placeholder=""
            required autofocus>
        </div>
        <p class="text-black-50">Passwords must be at least 6 characters in length.</p>
      </div>

      <div class="mb-5 border-bottom border-secondary bg-light">
        <label for="inputPasswordConfirm">Confirm Password <span class="text-black-50">*</span></label>
        <input type="password" name="passwordConfirm" class="form-control form-control-lg border-0 bg-light"
          placeholder="" required autofocus>
      </div>

      <button type="submit" class="btn bg-success bg-gradient text-white w-100 p-2" style="font-size: 1.5em;">
        Register</button>
    </form>
  </div>

  <div class="text-end" style="font-size: 1.5em">
    <a href="/login" class="text-success">Login</a>
  </div>

</div>